<div id="pages">
    <div id="title">
     <div id="logo">
      <img src="styles/images/logo.png" alt="HCS" height="150" width="150">
     </div>
      <h1>HomeCare Services</h1>
      <b>(MIS).</b>
    </div>
    <div id="windows">
        <div class="tabs">
            <a data-role="button" href="#" class="btn btn-tabs">THE HOME</a>
        </div>
        <div class="tabs">
            <a data-role="button" href="views/residents.html" class="btn btn-tabs">RESIDENTS</a>
        </div>
        <div class="tabs">
            <a data-role="button" onclick="alert('Empolyees!')" class="btn btn-tabs">EMPOLYEES</a>
        </div>
        <div class="tabs">
            <a data-role="button" href="views/test.html" class="btn btn-tabs">ADMINISTRATION</a>
        </div>
    </div>
</div>

