<header data-role="header">Residents</header>
<nav>
    		<ul class="navbar">
    			<li class="home"><a href="#">The Home</a></li>
    			<li class="about"><a href="#">Residents</a></li>
    			<li class="freebies"><a href="#">Empolyees</a></li>
    			<li class="services"><a href="#">Adminisration</a></li>
    		</ul>
    
</nav> 

<div id="pages">
   <div id="Grid_left"><!-- the top LEFT grid -->
       <div id="content_gridheader"> BASIC INFORMATION</div>
       <div id="content">
            <form>  
              <div class="styled-select">
               Title: <select>
                         <option value="1">Mr</option>
                         <option value="2">Mrs</option>
                         <option value="3">Miss</option>
                         <option value="4">Ms</option>
                         <option value="5">Dr</option>
                         <option value="6">Prof</option>
                         <option value="7">Other</option>
                       </select>
              </div>
              <div class="styled-input"> 
               Forename:<input type="text" name="forename" id="forename">
              </div>
              <div class="styled-input">
               Surname:<input id="Surname" type="text" name="Surname">   
              </div>  
              <div class="styled-input">
               Known As:<input id="knownas" type="text" name="knownas">   
              </div>  
              <table width="100%">
                 <tr>
                   <td width="20%">
                    Gender:
                   </td>
                   <td width="30%">
                    <table class="subtable_gender" cellspacing="4">
                     <tr>
                      <th scope="row">Male</th>
                      <td>
                       <input type="radio" name="gender" value="Male" id="gender_0">
                      </td>
                     </tr>
                     <tr>
                      <th scope="row">Female</th>
                      <td>
                       <input type="radio" name="gender" value="Female" id="gender_1">
                      </td>
                     </tr>
                    </table>
                   </td>
                 </tr>
              </table>
              <div class="styled-input">
               Age:<input type="text" name="age" id="age">   
              </div>
              <div class="styled-input">
               DOB:<input type="text" name="DOB" id="DOB">   
              </div> 
              <div class="styled-input">
               Resid. ID:<input type="text" name="residentID" id="residentID">   
              </div>    
            </form>
       </div>   
   </div>
    
   <div id="Grid_right"><!-- the top RIGHT grid -->
       <div id="content_gridheader"> ADMISSION DETAILS</div>
       <div id="content">
         <form>   
              <div class="styled-input"> 
               Date:<input type="text" name="admissiondate" id="admissiondate">
              </div>
              <div class="styled-input"> 
               Height (cm):<input type="text" name="height" id="height">
              </div>
              <div class="styled-input"> 
               Room:<input type="text" name="room" id="room">
              </div>
              <div class="styled-input"> 
               Keyworker:<input type="text" name="keyworker" id="keyworker">
              </div>
              <div class="styled-input"> 
               Care Group:<input type="text" name="caregroup" id="caregroup">
              </div>
              <div class="styled-input"> 
               Type:<input type="text" name="type" id="type">
              </div>
           
           
           <!-- this is the preferences div/table it seats inside the content of g2-right top and is labeled g22-->
           <div id="g22_top">
            <div id="content_gridheader"> PREFERENCES</div>
               <div class="excuss">     
                      <table class="excuss">
                       <tr>
                        <td colspan="2"></td>
                       </tr>
                       <tr>
                        <td width="85%">
                         Allow Health Info. Exchange:
                        </td>
                        <td width="15%">
                         <input type="checkbox" name="allow_health_info_exchange" id="allow_health_info_exchange">
                        </td>
                       </tr>
                       <tr>
                        <td width="85%">
                         Consent Form Obtained:
                        </td>
                        <td width="15%">
                         <input type="checkbox" name="Consent_Received" id="Consent_Received">
                        </td>
                       </tr>       
                      </table>
               </div>
           </div>
         </form> 
       </div>   
   </div>
    
    <!--this is the bottom half of the page-->
    <div id="buttom_gridwrap">
       <div id="Grid_left"><!-- the bottom LEFT grid -->
           <div id="content_gridheader">CLIENT'S BACKGROUND</div>
         <div id="content">
            <form>  
              <div class="styled-input"> 
               Brith Place:<input type="text" name="place_of_birth" id="place_of_birth">
              </div>
              <div class="styled-select">
               Marital:<select name="marital_status" id="marital_status">
                        <option value="Married">Married</option>
                        <option value="Single">Single</option>
                        <option value="Divorced">Divorced</option>
                        <option value="Separated">Separated</option>
                        <option value="Widowed">Widowed</option>
                       </select>
              </div>
              
              <div class="styled-select">
               Religion:<select name="Religion" id="Religion">
                         <option value="No Religion" selected>No Religion</option>
                         <option value="Christian">Christian</option>
                         <option value="Buddhist">Buddhist</option>
                         <option value="Hindu">Hindu</option>
                         <option value="Jewish">Jewish</option>
                         <option value="Muslim">Muslim</option>
                         <option value="Sikh">Sikh</option>
                         <option value="Perfer Not To Say">Perfer Not To Say</option>
                        </select>
              </div>
              <div class="styled-input">
               Occupation:<input type="text" name="occupation" id="occupation">   
              </div> 
              <div class="styled-select">
               Ethnicity:<select name="ethnic_origin" id="ethnic_origin">
                          <option value="White" selected>White</option>
                          <option value="Asian/Asian British">Asian/Asian British</option>
                          <option value="Black/Black British">Black/Black British</option>
                          <option value="Other ethnic group">Other ethnic group</option>
                         </select>
              </div>   
              <div class="styled-input">
               NI:<input type="text" name="NI_number" id="NI_number">   
              </div>
              <div class="styled-input">
               Nationality:<input type="text" name="Nationality" id="Nationality">   
              </div>   
            </form>
         </div>   
       </div>
    
   <div id="Grid_right"><!-- the bottom RIGHT grid -->
       <div id="content_gridheader">CONTACT DEATILS</div>
       <div id="content">
         <form>   
              <div class="styled-input"> 
               Address:<input type="text" name="address" id="address">
              </div>
              <div class="styled-input"> 
               Line 1:<input type="text" name="line1" id="line1">
              </div>
              <div class="styled-input"> 
               Line 2:<input type="text" name="line2" id="line2">
              </div>
              <div class="styled-input"> 
               Line 3:<input type="text" name="line3" id="line3">
              </div>
              <div class="styled-input"> 
               Post Code:<input type="text" name="postcode" id="postcode">
              </div>
              <div class="styled-input"> 
               Telephone:<input type="text" name="Tel" id="Tel">
              </div>
              <div class="styled-input"> 
               Mobile:<input type="text" name="Mob" id="Mob">
              </div>
          
         </form> 
       </div>   
   </div>
        
    </div>
    <!--this is the bottom half of the page-->
    
</div>
