<header data-role="header">Diary</header>

<div class="info-wrapper">
 <header data-role="header" class="paitent_name">the Name</header>
				<div class="info-wrapper-left">
					<img class="residentimg"/>
				</div>
                
                <div class="info-wrapper-right">
					<div class="info">
                        <div class="info-data" id="currentStatus">&nbsp;</div>
						<div class="info-label" for="currentStatus">Room:</div>
                        <div class="clear"></div>
					</div>
					<div class="info">
                        <div class="info-data" id="currentStatus">&nbsp;</div>
						<div class="info-label" for="currentStatus">Age:</div>
                        <div class="clear"></div>
					</div>
                    <div class="info">
                        <div class="info-data" id="currentStatus">&nbsp;</div>
						<div class="info-label" for="currentStatus">Group:</div>
                        <div class="clear"></div>
					</div>
				</div>
</div>

<div id="pages"> 
    <ul data-role="listview" class="dairy">
			<li data-role="list-divider" id="list-divider">Friday, October 8, 2010 <span class="ui-li-count">2</span></li>
			<li></li>
			<li></li>
			<li data-role="list-divider" id="list-divider">Thursday, October 7, 2010 <span class="ui-li-count">1</span></li>
			<li></li>
			<li data-role="list-divider" id="list-divider">Wednesday, October 6, 2010 <span class="ui-li-count">3</span></li>
			<li></li>
			<li></li>
			<li></li>
				<li data-role="list-divider" id="list-divider">Tuesday, October 5, 2010 <span class="ui-li-count">3</span></li>
				<li></li>
				<li></li>
    </ul>
</div>
 <a data-role="button" class="btn btn-login">Add acctivity</a>